* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins";
  color: rgb(187, 187, 187);
}
body {
  background-color: rgb(19, 21, 48);
}
img {
  display: block;
}
.game {
  height: 100vh;

  /*---- styling score section ----*/
  &__score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;

    h4 {
      font-weight: 500;
    }
  }

  /*---- styling hands section ----*/
  &__area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hands {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      height: 300px;

      .player {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
          width: 200px;
          transform: rotateY(180deg);
          margin: 100px;
        }
      }

      .computer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
          width: 200px;
          margin: 100px;
        }
      }
    }

    .controls {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        display: block;
        width: 120px;
        height: 40px;
        margin: 0px 20px;
        background-color: teal;
        border: none;
        border-radius: 3px;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: rgb(9, 75, 75);
        }
      }
    }

    .reset {
      button {
        width: 120px;
        height: 40px;
        margin: 50px 0px;
        background-color: rgb(199, 28, 28);
        border: none;
        border-radius: 3px;
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: rgb(153, 24, 24);
        }
      }
    }
  }
}

/****** Javascript Classes ****/

@keyframes handshakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  25% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(50px);
  }
  75% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes handshakeComputer {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
